.main__gameFavorites {
  margin-top: 50rem;
  margin-bottom: 140rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.main__gameFavoritesTopImg {
  margin-left: 12rem;
  margin-right: 12rem;
}

.main__gameFavoritesTopText {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21rem;
  line-height: 30rem;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main__gameFavoritesBottom {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  text-align: center;
  line-height: 20rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.26);
  width: 100%;
}

.w350 {
  max-width: 350rem;
}

.main__gameFavoritesTop {
  margin-bottom: 94rem;
}
