.main__sidebarItem {
  background: linear-gradient(137.95deg, #c06c5a 9.63%, #e25555 97.57%);
  border-radius: 15rem;
  padding: 5rem;
}

.main__sidebarBlock {
  margin-top: 7rem;
  @include size-mz(9.5);
}

.main__sidebarBlock {
  @include xsw(width, 100%);
}

.main__sidebarItemLineLeftBlockTitle {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17rem;
  line-height: 118%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 3px;
  @include xs(font-size, 15rem);
}
.main__sidebar {
  @media screen and (max-width: 1100px) {
    @include row-flex();
  }
  @include mz(margin-left, 0!important);
  @include mz(margin-right, 0!important);
  @include mz(justify-content, space-between);
}

.main__sidebarItemLineLeftBlockName {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10rem;
  line-height: 118%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main__sidebarItemLinePrice {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17rem;
  line-height: 118%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-right: 17rem;
  @include xs(font-size, 15rem);
}

.main__sidebarItemLine {
  width: 100%;
  margin-bottom: 5rem;
  padding: 5rem;
  transition: 0.4s ease-in-out;
}

.main__sidebarItemLine:last-child {
  width: 100%;
  margin-bottom: 0;
  padding: 5rem;
}

.main__sidebarItemLine:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 11px;
  padding: 5rem;
}

.main__sidebarItemLineLeftImg {
  margin-right: 10rem;
}

.main__sidebarTitle h2 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21rem;
  line-height: 30rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 10rem;
  margin-left: 7rem;
}

.main__sidebarItem {
  margin-bottom: 30rem;
}

// .main {
//   margin-top: 30rem;
// }

.main__conditionTitleText h2 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21rem;
  line-height: 30rem;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main__conditionTextTitle.mb20 {
  margin-bottom: 20rem;
}

.main__conditionTextText a {
  text-decoration: none;
  color: rgb(159, 159, 159);
  cursor: pointer;
}

.main__conditionTitleImg {
  padding-right: 17rem;
  margin-left: -6rem;
}

.main__conditionTitle {
  margin-left: 15rem;
  margin-right: 25rem;
  @include xs(margin-left, 0);
}

.main__conditionInner {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 13rem;
  margin: 0rem 10rem;
}

.main__conditionTextNumber {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21rem;
  line-height: 30rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-right: 42rem;
  margin-left: 11rem;
  @include xs(margin-left, 0);
}

.main__conditionTextTitle h3 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21rem;
  line-height: 30rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 520rem;
}

.main__conditionTextText p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15rem;
  line-height: 20rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.4;
  max-width: 622rem;
  margin-bottom: 25rem;
}

.main__conditionText {
  padding-top: 20rem;
  padding-bottom: 25rem;
}

.main__conditionText {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 26rem;
  margin: 0rem 10rem;
}

.main__conditionInnerMt90 {
  margin-top: 90rem;
}

.main__conditionTextText.mw802 p {
  max-width: 802rem;
  margin-bottom: 25rem;
}

.main__conditionTextTitle.mb5 {
  margin-bottom: 5rem;
  margin-top: 20rem;
}

.main__conditionMenuItemsItem {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 5rem;
  flex: 1 1 auto;
  @include row-flex();
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  margin-right: 10rem;
}

.main__conditionMenuItemsItem a {
  width: 100%;
  padding: 7rem 5rem;
  text-align: center;
}

.main__conditionMenuItemsItem:nth-child(1) {
}

.main__conditionMenuItemsItem:last-child {
  margin-right: 0;
}

.main__conditionMenu {
  background: #0c102c;
  border-radius: 7rem;
  padding: 10rem;
  margin: 10rem;
}

.main__conditionText.mb50 {
  margin-bottom: 50rem;
}

.main__conditionMenuItems {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 10rem;
}

.main__menuTopItemText {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17rem;
  line-height: 118%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main__menuTopItemImg {
  margin-right: 15rem;
}

.main__menuTopItem {
  padding: 15rem;
  margin: -1rem 0 11rem 7rem;
  flex-wrap: nowrap;
  @include mk(margin, -1rem 0 0rem 7rem);
  // padding: 14rem 15rem 26rem 22rem;
}

.main__menuItems {
  flex-wrap: nowrap;
}

.main__menuTopItem:hover {
  cursor: pointer;
  background: #178b53;
  border-radius: 7rem;
}

.main__menuTopItem {
  transition: 0.4s ease-in-out;
}

.main__menuTopTitle h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15rem;
  line-height: 20rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.2;
  text-transform: uppercase;
}

.main__menuTopTitle {
  margin-bottom: 15rem;
  margin-left: 15rem;
}

.main__menuBottom .main__menuTopItemImg {
  // width: 30rem;
  // height: 30rem;
  // background: #c4c4c4;
  // border-radius: 5px;
}

.main__menuBottom {
  margin-top: 35rem;
  margin-left: -3rem;
  @include mk(margin-top, 10rem);
}

.main__menuBottom .main__menuTopItem {
  margin-bottom: 10rem;
}

// .main__menuTopItemText.sm {
//   font-size: 16rem;
// }

.main__menuTop {
  margin-top: 10rem;
}

.main__menuItems {
  margin-top: 25rem;
  margin-right: 10rem;
  @include mk(margin-right, 0);
}

.main__menuItemsItem.mr button {
  margin-right: 10rem;
}

.main__menuItemsItem button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 5rem;
  padding: 7rem 24rem;
  border: none;
}

.main__conditionMenuBottomCopyrightText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.4;
  max-width: 191rem;
  margin-bottom: 20rem;
}

.main__conditionMenuBottom {
  margin-top: 30rem;
}

.main__conditionMenuBottomText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.2;
  @include size(13);
}

.main__conditionMenuBottomCopyright {
  @include size(6);
}

.main__conditionMenuBottomCopyrightIcons {
  margin-bottom: 15rem;
}

// .main__condition {
//   margin-bottom: 50rem;
// }

.main__conditionMenuBottomCopyrightIconsImg {
  margin-right: 15rem;
}

.main__conditionMenuBlockItemsItem {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17rem;
  line-height: 118%;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 33.333%;
  @include xs(width, 50%);
  @include xs(font-size, 14rem);
  @include row-flex();
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  padding-bottom: 15rem;
  margin-left: 0;
  margin-right: 0;
}

.main__conditionMenuBlockItems {
  @include sk(width, 100%);
}

.main__conditionMenuBlock {
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}

.main__conditionMenuBlockItems {
  width: 50%;
  // padding-top: 12rem;
  // padding-bottom: 10rem;
}

.main__conditionMenuItemsItem:hover {
  cursor: pointer;
}

.main__conditionMenuBlockItemsItem {
  position: relative;
  height: 70rem;
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem.topBorder:after {
  content: "";
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0rem;
}

.main__conditionMenuBlockItems.left
  .main__conditionMenuBlockItemsItem:nth-child(6).topBorder:after {
  content: "";
  background: rgba(255, 255, 255, 0.05);
  width: calc(100% - 15rem);
  height: 1px;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.main__conditionMenuBlockItems.left
  .main__conditionMenuBlockItemsItem:nth-child(4).topBorder:after {
  content: "";
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem:nth-child(4).topBorder:after {
  content: "";
  background: rgba(255, 255, 255, 0.05);
  width: calc(100% - 15rem);
  height: 1px;
  position: absolute;
  top: 0rem;
  right: 0rem;
  @include xs(width, 100%);
}

.main__menu {
  @include size(2.8);
  @include mk(display, none);
  @include mk(position, fixed);
  @include mk(background, #171a28);
  @include mk(top, 0);
  @include mk(opacity, 1!important);
  @include mk(width, 240rem);
  @include mk(right, 0);
  @include mk(padding, 10rem 20rem 20rem 10rem);
}

.main__menu.active {
  @include mk(display, block!important);
  @include mk(z-index, 100);
}

.main__menuTopLogo {
  display: none;
  @include mk(display, block);
  @include mk(margin-bottom, 35rem);
}

.main__sidebar {
  z-index: 1;
  @include size(4.2);
  padding-right: 10rem;
  @include size-mk(5);
  @include size-sk(6);
  @include mz(width, 100%);
  @include mz(order, 1);
  @include mz(padding-right, 0rem);
}

.main__condition {
  @include size(12);
  margin-left: -5rem;
  @include mk(margin-left, 0);
  @include size-mk(14);
  @include size-sk(13);
  @include mz(width, 100%);
  @include mz(order, 2);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 15rem 0 0;
  padding: 15rem 0 0 0;
}

.main__condition.new {
  border-radius: 0 0 15rem 15rem;
}
.main__sidebar.h100 {
  height: 20vh;
}

.main__conditionText {
  flex-wrap: nowrap;
  @include xs(flex-wrap, wrap);
}

.main__conditionTitle {
  flex-wrap: nowrap;
  @include xxs(margin, 0);
}

.main__conditionTextTitle.mt0 {
  margin-top: 0;
}

.main__conditionTextText p:last-child {
  margin-bottom: 0;
}

.main__conditionMenuBlockItemsItem.pl {
  padding-left: 40rem;
  @include sk(padding-left, 0);
}

.main__conditionMenuBlockItemsItemTextInner {
  margin-top: -20rem;
  @include mk(margin-top, -10rem);
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem:nth-child(2):before {
  @include xs(content, "");
  @include xs(background, none);
  @include xs(width, 0);
  @include xs(height, 0);
  @include xs(position, absolute);
  @include xs(top, 0rem);
  @include xs(right, 0);
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem:nth-child(4):before {
  @include xs(content, "");
  @include xs(background, none);
  @include xs(width, 0);
  @include xs(height, 0);
  @include xs(position, absolute);
  @include xs(top, 0rem);
  @include xs(right, 0);
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem:nth-child(3):before {
  content: "";
  background: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 0rem;
  right: 0;
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem:nth-child(6):before {
  content: "";
  background: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 0rem;
  right: 0;
}

.main__conditionMenuBlockItemsItem:nth-child(1):hover {
  background: transparent;
  position: relative;
  cursor: default;
}

.main__conditionMenuBlockItemsItem {
  transition: 0.4s ease-in-out;
}

.main__conditionMenuBlockItemsItemTextInner {
  margin-left: -30rem;
  @include mk(margin-left, -10rem);
  @include sz(margin-left, 0);
}

.main__conditionMenuItemsItem:nth-child(4) {
  @include sz(margin-right, 0);
}

.main__conditionMenuItemsItem:nth-child(3) {
  @include sm(margin-right, 0rem);
}

.main__conditionMenuItemsItem:nth-child(1),
.main__conditionMenuItemsItem:nth-child(2),
.main__conditionMenuItemsItem:nth-child(3) {
  @include sz(width, 23.33%);
}

.main__conditionMenuItemsItem:nth-child(3) {
  @include sz(margin-right, 0);
}

.main__conditionMenuItemsItem:nth-child(5) {
  @include sz(margin-top, 10rem);
  @include sz(width, calc(60% - 10rem));
  @include sm(margin-top, 10rem);
  @include sm(width, calc(60% - 10rem));
}
.main__conditionMenuItemsItem:nth-child(4) {
  @include sz(margin-top, 10rem);
  @include sz(width, 40%);
  @include sz(margin-right, 10rem);
  @include sm(margin-top, 10rem);
  @include sm(width, 40%);
  @include sm(margin-right, 10rem);
}

////
.main__conditionMenuItemsItem:nth-child(5) {
  @include xsw(width, 100%);
  @include xsw(margin-left, 0);
  @include xsw(margin-right, 0);
  @include xsw(margin-top, 10rem);
  @include xxs(width, 100%);
  @include xxs(margin-left, 0);
  @include xxs(margin-right, 0);
  @include xxs(margin-top, 10rem);
}

.main__conditionMenuItemsItem:nth-child(4) {
  @include xsw(width, 50%);
  @include xsw(margin-left, 0);
  @include xsw(margin-right, 0);
  @include xsw(margin-top, 10rem);
  @include xxs(width, 100%);
  @include xxs(margin-left, 0);
  @include xxs(margin-right, 0);
  @include xxs(margin-top, 10rem);
}

.main__conditionMenuItemsItem:nth-child(3) {
  @include xsw(width, calc(50% - 10rem));
  @include xsw(margin-right, 10rem);
  @include xsw(margin-top, 10rem);
  @include xxs(width, 100%);
  @include xxs(margin-left, 0);
  @include xxs(margin-right, 0);
  @include xxs(margin-top, 10rem);
}

.main__conditionMenuItemsItem:nth-child(2) {
  @include xsw(width, 50%);
  @include xsw(margin-left, 0);
  @include xsw(margin-right, 0);
  @include xsw(margin-top, 10rem);
  @include xxs(width, 100%);
  @include xxs(margin-left, 0);
  @include xxs(margin-right, 0);
  @include xxs(margin-top, 10rem);
}
.main__conditionMenuItemsItem:nth-child(1) {
  @include xsw(width, calc(50% - 10rem));
  @include xsw(margin-left, 0);
  @include xsw(margin-top, 10rem);
  @include xxs(width, 100%);
  @include xxs(margin-left, 0);
  @include xxs(margin-right, 0);
  @include xxs(margin-top, 10rem);
}

.main__menuTopItem a {
  flex-wrap: nowrap;
}

.main__conditionMenuBlockItems .main__conditionMenuBlockItemsItem:nth-child(1) {
  @include sk(justify-content, flex-start);
  @include sk(padding-left, 5rem);
}

.main__conditionMenuBlockItemsItem a {
  @include row-flex();
  margin-left: 0;
  margin-right: 0;
  align-items: center;
}

.main__conditionMenuBlockItems.left {
  @include sk(border-bottom, 1px solid rgba(255, 255, 255, 0.23));
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem:nth-child(3):after {
  @include xs(content, "");
  @include xs(background, rgba(255, 255, 255, 0.05));
  @include xs(width, 100%);
  @include xs(height, 1px);
  @include xs(position, absolute);
  @include xs(top, 0rem);
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem:nth-child(3):before {
  @include xs(content, "");
  @include xs(background, rgba(255, 255, 255, 0.05));
  @include xs(width, 1px);
  @include xs(height, 100%);
  @include xs(position, absolute);
  @include xs(top, 0rem);
}

.main__conditionMenuBottomText {
  @include xs(width, 100%);
  @include xs(order, 1);
}

.main__conditionMenuBottomCopyright {
  @include xs(width, 100%);
  @include xs(order, 2);
  @include xs(margin-top, 20rem);
}

.main__conditionMenuItemsItem:nth-child(3) {
  @include sk(margin-right, 0rem);
}

.main__conditionMenu.mt50 {
  margin-top: 50rem;
}

.main__conditionMenu {
  @include xsw(padding-top, 0);
}

.main__conditionMenuItemsItem:hover {
  background: rgba(255, 255, 255, 0.52);
}
.main__conditionMenuItemsItem {
  transition: 0.4 s ease-in-out;
}

.main__sidebar {
  position: relative;
}
.main__sidebarAbsolute {
  position: absolute;
  @include mz(position, relative);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main__sidebarFixed.active {
  position: sticky;

  @include mz(position, relative);
  @media screen and (max-width: 1100px) {
    @include row-flex();
  }
  @include mz(margin-left, 0!important);
  @include mz(margin-right, 0!important);
  @include mz(width, 100%);
  @include mz(max-width, 100%);
  @include mz(top, 0);
  top: 70px;
  z-index: 20;
}

.main__sidebarFixed {
  @include mz(position, relative);
  @media screen and (max-width: 1100px) {
    @include row-flex();
  }
  @include mz(margin-left, 0!important);
  @include mz(margin-right, 0!important);
  @include mz(justify-content, space-between);
}

.header__innerCabinetMenu {
  z-index: 100;
}

///left
.main__menu {
  position: relative;
}
.main__menuAbsolute {
  position: absolute;
  @include mk(position, relative);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.main__menuFixed.active {
  position: sticky;
  top: 40px;
  @include mk(position, relative);
  @include mk(width, 100%);
  @include mk(max-width, 100%);
  @include mk(top, 0);
  width: 100%;
  z-index: 1111;
}

.main__menuFixed.active .main__menuTopTitle {
  opacity: 0;
}

.main__get-moneyImg {
  margin-bottom: -80rem;
  @include sz(margin-bottom, 0);
}

.main__bannerBodyTitle.w310 {
  max-width: 310rem;
  @include ms(max-width, 270rem);
  @include sk(max-width, 220rem);
  @include mz(max-width, 270rem);
}

.main__bannerBodyImg {
  position: relative;
  z-index: 1;
}

.swiper-pagination {
  background: #3e424b !important;
  height: 6rem;
  z-index: 99;
}

.main__conditionMenuBlockItemsItem:nth-child(1),
.main__conditionMenuBlockItemsItem:nth-child(2),
.main__conditionMenuBlockItemsItem:nth-child(3) {
  padding-top: 27rem;
}

.main__conditionMenuBlockItemsItem:nth-child(4),
.main__conditionMenuBlockItemsItem:nth-child(5),
.main__conditionMenuBlockItemsItem:nth-child(6) {
  padding-bottom: 25rem;
}

.main__conditionMenuBlockItemsItem:nth-child(1):before,
.main__conditionMenuBlockItemsItem:nth-child(2):before,
.main__conditionMenuBlockItemsItem:nth-child(3):before {
  content: "";
  background: rgba(255, 255, 255, 0.05);
  width: 1px;
  height: calc(100% - 12rem);
  position: absolute;
  top: 12rem;
  right: 0;
}
.main__conditionMenuBlockItemsItem:nth-child(4):before,
.main__conditionMenuBlockItemsItem:nth-child(5):before,
.main__conditionMenuBlockItemsItem:nth-child(6):before {
  content: "";
  background: rgba(255, 255, 255, 0.05);
  width: 1px;
  height: calc(100% - 10rem);
  position: absolute;
  bottom: 10rem;
  right: 0;
}

.main__conditionMenuBlockItems.left
  .main__conditionMenuBlockItemsItem:nth-child(3):before {
  content: "";
  background: rgba(255, 255, 255, 0.23);
  width: 1px;
  height: calc(100% - 12rem);
  position: absolute;
  bottom: 0rem;
  top: auto;
  @include sk(content, "");
  @include sk(background, none);
  @include sk(width, 0);
  @include sk(height, 0);
  @include sk(position, absolute);
  @include sk(top, 0rem);

  @include sk(right, 0);

  right: 0rem;
  @include xs(content, "");
  @include xs(background, rgba(255, 255, 255, 0.05));
  @include xs(width, 1px);
  @include xs(height, 100%);
  @include xs(position, absolute);
  @include xs(top, 0rem);
}

.main__conditionMenuBlockItems.left
  .main__conditionMenuBlockItemsItem:nth-child(6):before {
  content: "";
  background: rgba(255, 255, 255, 0.23);
  width: 1px;
  height: calc(100% - 10rem);
  position: absolute;
  top: 0rem;
  right: 0rem;
  @include sk(content, "");
  @include sk(background, none);
  @include sk(width, 0);
  @include sk(height, 0);
  @include sk(position, absolute);
  @include sk(top, 0rem);
  @include sk(right, 0rem);
}

.main__conditionMenuBlockItems
  .main__conditionMenuBlockItemsItem:nth-child(4).topBorder:after {
  @include sk(width, 100%);
  @include sk(left, auto);
  @include sk(right, 0);
}

.main__conditionMenuBlockItems.left
  .main__conditionMenuBlockItemsItem:nth-child(6).topBorder:after {
  @include sk(width, 100%);
  @include sk(left, 0);
  @include sk(right, auto);
}

.main__conditionMenuBlockItemsItem {
  z-index: 1;
  position: relative;
  transition: 0.4s ease-in-out;
}

.main__conditionMenuBlockItemsItem svg {
  z-index: 3;
  position: relative;
}
///hover
.main__conditionMenuBlockItemsItem .hov {
  transition: 0.4s ease-in-out;
}

.main__conditionMenuBlockItemsItem:nth-child(1):hover .hov,
.main__conditionMenuBlockItemsItem:nth-child(2):hover .hov,
.main__conditionMenuBlockItemsItem:nth-child(3):hover .hov {
  background: #181c37;
  width: calc(100% + 1px);
  height: calc(100% + 2px);
  position: absolute;
  z-index: 2;
  top: -2px;
  left: -1px;
  right: -1px;
}
.main__conditionMenuBlockItemsItem:nth-child(4):hover .hov,
.main__conditionMenuBlockItemsItem:nth-child(5):hover .hov,
.main__conditionMenuBlockItemsItem:nth-child(6):hover .hov {
  background: #181c37;
  width: calc(100% + 1px);
  height: calc(100% + 2px);
  position: absolute;
  z-index: 2;
  bottom: -2px;
  top: auto;
  left: -1px;
  right: -1px;
}
///////////////
.main__conditionMenuBlockItemsItem:nth-child(3):hover .hov {
  background: #181c37;
  width: calc(100% + 0px);
  position: absolute;
  z-index: 2;
  left: -1px;
  right: -1px;
}
.main__conditionMenuBlockItemsItem:nth-child(6):hover .hov {
  background: #181c37;
  width: calc(100% + 0px);
  position: absolute;
  z-index: 2;
  left: -1px;
  right: -1px;
}
.main__conditionMenuBlockItems.right
  .main__conditionMenuBlockItemsItem:nth-child(4):hover
  .hov {
  background: #181c37;
  width: calc(100% + 0px);
  position: absolute;
  z-index: 2;
  left: 0px;
  right: -1px;
}

.main__conditionMenuBlockItems.right
  .main__conditionMenuBlockItemsItem:nth-child(1):hover
  .hov,
.main__conditionMenuBlockItems.right
  .main__conditionMenuBlockItemsItem:nth-child(2):hover
  .hov,
.main__conditionMenuBlockItems.right
  .main__conditionMenuBlockItemsItem:nth-child(3):hover
  .hov {
  @include sk(background, #181c37);
  @include sk(width, calc(100% + 1px));
  @include sk(height, calc(100% + 0px));
  @include sk(position, absolute);
  @include sk(z-index, 2);
  @include sk(top, 0px);
  @include sk(bottom, auto);
  @include sk(left, -1px);
  @include sk(right, -1px);
}

.main__conditionMenuBlockItems.left
  .main__conditionMenuBlockItemsItem:nth-child(4):hover
  .hov,
.main__conditionMenuBlockItems.left
  .main__conditionMenuBlockItemsItem:nth-child(5):hover
  .hov,
.main__conditionMenuBlockItems.left
  .main__conditionMenuBlockItemsItem:nth-child(6):hover
  .hov {
  @include sk(background, #181c37);
  @include sk(width, calc(100% + 1px));
  @include sk(height, calc(100% + 0px));
  @include sk(position, absolute);
  @include sk(z-index, 2);
  @include sk(bottom, 1px);
  @include sk(top, auto);
  @include sk(left, -1px);
  @include sk(right, -1px);
}

.main__conditionMenuBlockItemsItem {
  padding-top: 25rem;
  padding-bottom: 25rem;
}

.main__conditionMenuItemsItem a {
  color: #fff;
}

.main__conditionMenuBottom > div {
  justify-content: space-between;
  @include row-flex();
  margin-left: 0;
  margin-right: 0;
}

.main__conditionMenuBottomCopyrightText a {
  color: rgb(168, 168, 168);
}
#apg-seal-container > div {
  min-width: 30px !important;
}

.main__conditionMenuBlockItems.left .main__conditionMenuBlockItemsItem {
  cursor: default;
}

///
.main__new-gamesItemsItem.size {
  width: calc(25% - 28rem);
  margin-bottom: 28rem;
  margin-left: 14rem;
  margin-right: 14rem;
  @include smm(width, calc(33.333% - 28rem));
  @include xs(width, calc(50% - 28rem));
  @include zs(width, calc(100%));
}

.main__new-gamesItems.size {
  position: relative;
}

.main__new-gamesItems.size {
  margin-left: -14rem;
  margin-right: -14rem;
}

///responsible-game

.main__conditionText.mb310 {
  margin-bottom: 310rem;
}

.wlc-message-error {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21rem;
  line-height: 30rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  @include row-flex();
  align-items: center;
  flex-direction: column;
  margin-bottom: 400rem;
}

.table__block {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.table__block .table__blockItem {
  width: 50%;
  padding: 10rem;
}

.table__block .table__blockItem:first-child {
  @include md(width, 30%);
  @include xs(width, 25%);
}
.table__block .table__blockItem:nth-child(2) {
  @include md(width, 70%);
  @include xs(width, 75%);
}

/// sidebar menu
.main__menuTop ul li:nth-child(2) span:first-child {
  background: url("../img/vr.svg");
  width: 20rem;
  height: 20rem;
}
.main__menuTop ul li:nth-child(5) span:first-child {
  background: url("../img/action.svg");
  width: 20rem;
  height: 20rem;
}
.main__menuTop ul li:nth-child(6) span:first-child {
  background: url("../img/medal.svg");
  width: 20rem;
  height: 20rem;
}

//actions
.main__actionsItemsItem {
  margin-left: 14rem;
  margin-right: 14rem;
}

.main__actionsItems {
  margin-left: -14rem;
  margin-right: -14rem;
}

.main__actionsItemsItem {
  width: calc(33.33% - 28rem);
  @include smm(width, calc(50% - 28rem));
  @include xss(width, 100%);
  @include xss(margin-bottom, 20rem);
}

//prize
.main__prizesLineLeft {
  @include size(9.7);
  @include size-md(10.6);
  @include size-sm(11.6);
  @include xs(width, 100%);
  @include xs(max-width, 79%);
  @include xxs(width, 100%);
  @include xxs(max-width, 100%);
}
.main__prizesLineRight {
  @include size(5.9);
  @include xs(width, auto);
}

///select
.select .opt {
  position: relative;
}
.select .opt:before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  display: inline-block;
  font-size: 16px;
  width: 76rem;
  height: 45rem;
  box-sizing: border-box;
  border-radius: 7rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  line-height: 20rem;
  letter-spacing: 0.02em;
  color: rgba(23, 25, 38, 0.2);
}

#new-div,
p {
  font-size: 13px;
  color: #fff;
}

.show-new {
  transition: all 20.5s ease-in-out;
}

///circle
///
.progress {
  animation: dash 2s linear alternate;
}
@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
}

.filter-input-search input {
  height: 40rem;
  width: 400px;
  font-size: 20px;
  color: #000;
}

.height100 {
  height: 200vh;
  padding-top: 60vh;
}
